.fifty-fifty-text-section {
  padding: 3rem 2rem 4rem;
  .section-heading + .dual-text {
    margin-top: 4rem;
  }
  .content-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .left-text {
    flex-grow: 1;
  }
  .right-text {
    flex-grow: 1;
  }

  .accordionize-me .togglize-button,
  .togglize-me .togglize-button {
    color: #012c2b;
  }

  .toggle-section {
    border-bottom: 1px solid white;
  }

  .toggle-section + .toggle-section {
    margin-top: 2rem;
  }
  //   .two-column-flex {
  //     display: flex;
  //     flex-direction: row;
  //     flex-wrap: wrap;
  //   }

  //   .left-text {
  //     display: flex;
  //     flex: 1 1 40%;
  //     justify-content: center;
  //     padding: 3rem;

  //     @include mx-tablet {
  //       flex: 100;
  //       justify-content: flex-start;
  //       padding: 0;
  //     }
  //   }

  //   .right-text {
  //     flex: 2 1 60%;
  //     padding: 3rem;

  //     @include mx-tablet {
  //       flex: 100;
  //       justify-content: flex-start;
  //       padding: 0;
  //     }
  //   }

  //   @include mx-tablet {
  //     h2 {
  //       font-size: 2rem;
  //     }
  //   }

  //   .optional-heading {
  //     padding-left: 3rem;
  //     padding-top: 2rem;

  //     @include mx-tablet {
  //       padding: 0;
  //     }
  //   }

  // }

  // .accordionize-me{
  //   @include mx-tablet{
  //     min-height: 500px !important;
  //   }
}
