/*--------------------------------------------------------------------------------
    Slick Slider Theme Overrides
--------------------------------------------------------------------------------*/
$slick-font-path: "assets/global-fonts/";
$slick-loader-path: "assets/images/";
$slick-font-family: sans-serif;

$slick-arrow-color: $color-1;
$slick-dot-color: $color-2;
$slick-dot-color-active: $color-1;
// $slick-prev-character: "<";
// $slick-next-character: ">";
// $slick-dot-character: ".";
// $slick-dot-size: 1rem;
$slick-dot-size: 3rem;
$slick-opacity-default: 1;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: .75;

// following not part of actual slick theme
$slick-arrow-size: 2rem;
$slick-arrow-background: white;

.slick-dots li button {
  font-size: 1rem;
  height: auto !important;
  width: auto !important;
  position: relative;
}

.slick-dots li button .slick-dot-icon:before {
  position: relative !important;
}

.slick-dots li button:hover:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background: $slick-dot-color;
}

.slick-dots li button:hover .slick-dot-icon:before, 
.slick-dots li.slick-active button .slick-dot-icon:before {
  display: block;
  margin: 0;
  // transform: scale(1.5) translateY(5%);
  transform: scale(1.5);
  font-size: $slick-dot-size !important;
}

.slick-dots li button:focus .slick-dot-icon:before {
  color: $color-1 !important;
}

.slick-dots li.slick-active button:focus .slick-dot-icon:before {
  color: $color-1 !important;
}