@font-face {
    font-family: 'Big Noodle';
    src:  url('assets/fonts/big_noodle_titling.ttf') format('truetype'),    
  }

  @font-face {
    font-family: 'Gotham';
    src:  url('assets/fonts/GothamBook.ttf') format('truetype'),    
  }

  @font-face {
    font-family: 'Montserrat';
    src:  url('assets/fonts/Montserrat-Bold.ttf') format('truetype'),    
  }

  @font-face {

    font-family: 'Asans';
    
    src: url('assets/fonts/Asans.otf') format('opentype');
    
    font-weight: normal;
    
    }


